doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='css/font-awesome.min.css')
		block headCSS

		script(src='/socket.io/socket.io.js/')
		script.
			var socket = io.connect(location.host.substring(0, location.host.indexOf(":")));
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/bootstrapGrowl.min.js')
		script(src='/js/bootbox.min.js')
		block headJS

	body
		header(style="margin-bottom: 75px;")
			.navbar.navbar-default.navbar-fixed-top(role='navigation')
				.container
					.navbar-header
						a.navbar-brand(href='/') RaspiCar
						button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle.collapsed
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					nav.collapse.navbar-collapse.bs-navbar-collapse(role="navigation")
						ul.nav.navbar-nav
							li
								a(href='/control') #{literal.controlWeb}
							li
								a(href='/files') #{literal.fileGest}
							li
								a(href='/conf') #{literal.conf}
		block content